<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.image.mapper.ImageMapper" >
    <resultMap id="BaseResultMap" type="com.app.image.entity.Image">
        <id column="CONVE_ID"          property="conveId"	jdbcType="VARCHAR"/>
        <id column="TASK_TYPE"	         property="taskType"	jdbcType="DECIMAL"/>
        <id column="WAREHOUSE_SID"	     property="warehouseSid" jdbcType="DECIMAL"/>
        <id column="HALL_SID"	         property="hallSid"      jdbcType="DECIMAL"/>
        <id column="MAX_LOAD"	     property="maxLoad"  jdbcType="DECIMAL"/>
        <id column="TASK_STATE"	     property="taskState"  jdbcType="DECIMAL"/>
        <id column="TASK_DESC"	         property="taskDesc"	    jdbcType="VARCHAR"/>
    </resultMap>
    <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        *
        from MES_WTM_TASK
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="sid != null" >
                AND SID = #{sid,jdbcType=DECIMAL}
            </if>
            <if test="conveId != null" >
                AND CONVE_ID = #{conveId,jdbcType=VARCHAR}
            </if>
            <if test="taskType != null" >
                AND TASK_TYPE = #{taskType,jdbcType=DECIMAL}
            </if>
            <if test="warehouseSid != null" >
                AND WAREHOUSE_SID = #{warehouseSid,jdbcType=DECIMAL}
            </if>
            <if test="hallSid != null" >
                AND HALL_SID = #{hallSid,jdbcType=DECIMAL}
            </if>
            <if test="maxLoad != null" >
                AND MAX_LOAD = #{maxLoad,jdbcType=DECIMAL}
            </if>
            <if test="taskState != null" >
                AND TASK_STATE = #{taskState,jdbcType=DECIMAL}
            </if>
            <if test="taskDesc != null" >
                AND TASK_DESC = #{taskDesc,jdbcType=VARCHAR}
            </if>
        </trim>
        ORDER BY
        <if test="order != null">
            ${order}
        </if>
        <if test="order == null">
            SID DESC
        </if>
    </select>

</mapper>